
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container text-white">
    <header class="hero-unit" id="banner">
      <h1>The Book Traders Club</h1>
      <p class="lead">Exchange Knowledge with Everyone. Everywhere.</p>
      <img class="img-responsive" src="assets/images/book.png" alt="The Book Traders Club">
    </header>
    <div class="row">
      <ul class="list-inline text-center actions">
        <li class="custom-btn"ng-click="redirect('signup')">
          Sign Up
        </li>
        <li class="custom-btn trns" ng-click="redirect('login')">
          Login
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="container text-white">
      <p>
        <a href="#">TBTC</a> by <a href="http://emant.altervista.org">emant</a> | <a href="https://twitter.com/js999x">@js999x</a> | &copy;2015
      </p>
    </div>
  </footer>
