

body {
  background: url('/assets/images/concrete_wall.png');
  font-family: 'Lato', sans-serif;
}

.text-white {
  color: #f5f5f5;
}

.navbar-brand {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.7em;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 70px;
    line-height: 1;
    letter-spacing: -1px;
}

.font-show {
  font-family: 'Fredericka the Great', cursive;
}

.font-desc {
  font-family: 'Special Elite', cursive;
}

.hero-unit {
    position: relative;
    padding: 30px 10px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.hero-unit img {
  margin:auto;
  margin-top: 40px;
}

.lead {
  margin-top: 30px;
}

footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 80px;
    font-family: 'Special Elite', cursive;
    font-size: 15px;
}

footer a {
  color: #6F8A91;
  position: relative;
  transition: all 0.2s;
}

footer a:hover {
  color: #f4696a;
  top: -2px;
  text-decoration: none;
}

.navbar-text {
    margin-left: 15px;
}


li.custom-btn {
  position: relative;
  margin: 10px;
  width: 100px;
  height: 100px;
  border: 3px solid #f5f5f5;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  align-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

li.custom-btn  p {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.actions {
  margin-top: 40px;
}


.custom-btn:hover {
  border-radius: 10%;
}

.c-btn-grn:hover {
  border-color: #39d1b4;
  color: #39d1b4;
}

.c-btn-red:hover {
  border-color: #f4696a;
  color: #f4696a;
}

.c-grn-bg {
  background-color: #39d1b4;
  color: #f5f5f5;
}

.c-red-bg {
  background-color: #f4696a;
  color: #f5f5f5;
}

.c-red {
  color: #f4696a;
}

.c-green {
  color: #39d1b4;
}

.cust-btn.c-red-bg:hover {
  background-color: #df393a;
  color: #f5f5f5;
}

.cust-btn.c-grn-bg:hover {
  background-color: #239680;
  color: #f5f5f5;
}

.custom-btn:active {
  box-shadow: 0 0 10px #f8c1c1;
}

.panel-default {
  background-color: #F8F8F8;
  color: #555;
}

.panel-default .panel-heading, .panel-default .panel-footer {
  background-color: #e8e8e8;
  color: #555;
}

.top, .top-50 {
  margin-top: 50px;
}

.top-20 {
  margin-top: 20px;
}
.inline {
  display: inline-block;
}

.book-info {
  padding-top: 10px;
  padding-left: 20px;
}

img.align-top {
  vertical-align: top;
}
