
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container text-white" ng-hide="loggedIn === true">
    <header class="hero-unit" id="banner">
      <h1 class="font-show">The Book Traders' Club</h1>
      <p class="lead font-desc">Where Old Books find New Readers. Share the Stories You Love.</p>
      <img class="img-responsive" src="assets/images/book.png" alt="The Book Traders Club">
    </header>
    <div class="row">
      <ul class="list-inline text-center actions">
        <li class="custom-btn c-btn-red"ng-click="redirect('signup')">
          <p>Sign Up</p>
        </li>
        <li class="custom-btn c-btn-grn" ng-click="redirect('login')">
          <p>Login</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" ng-show="loggedIn === true">
    <div class="panel panel-default top">
      <div class="panel-body">
        <h2 class="text-center font-show">Available Books</h2>
      </div>
    </div>
    <div class="flex">

      <div ng-repeat="book in activeBooks" class="thumb">
        <img ng-src="{{book.thumb || '/assets/images/thumb.png'}}" alt="book thumbnail" class="inline align-top"/>
        <div class="inline book-info">
          <ul class="list-unstyled">
            <li><strong>{{book.title}}</strong></li>
            <li><span ng-repeat="auth in book.authors">{{auth}}<span ng-show="$index != book.authors.length -1">,</span> </span></li>
            <li ng-show="book.publisher">{{book.publisher}}</li>
            <li ng-show="book.year">{{book.year}}</li>
            <li ng-show="book.pages">{{book.pages}} pages</li>

          </ul>
          <br>
          <div class="btn btn-sm btn-default" ng-click="requireBook($index)">Request</div>
        </div>
      </div>

    </div>


  </div>
  <footer>
    <div class="container text-white">
      <p>
        <a href="http://tbtc.herokuapp.com/">TBTC</a> by <a href="http://emant.altervista.org">emant</a> | <a href="https://twitter.com/js999x">@js999x</a> | &copy;2015
      </p>
    </div>
  </footer>
