  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default  top-50">
          <div class="panel-heading">
            <strong>Options</strong>
          </div>
          <div class="panel-body">
            <div class="well ptr" ng-class="{'c-blu-bg': panelOption === 'books'}" ng-click="panelOption = 'books'">
              <span ng-class="{'strong': panelOption === 'books' }">My Books</span></div>
            <div class="well ptr" ng-class="{'c-grn-bg': panelOption === 'i_req'}"
              ng-click="panelOption = 'i_req'">
              <span ng-class="{'strong': panelOption === 'i_req' }">Incoming Requests</span>
              <span class="badge pull-right"
                ng-class="{'c-green': panelOption === 'i_req', 'c-wht-bg': panelOption === 'i_req'}">{{incomingRequests}}</span>
            </div>
            <div class="well ptr" ng-class="{'c-red-bg': panelOption === 'o_req'}"
              ng-click="panelOption = 'o_req'">
              <span ng-class="{'strong': panelOption === 'o_req' }">Outgoing Requests</span>
              <span class="badge pull-right"
                ng-class="{'c-red': panelOption === 'o_req', 'c-wht-bg': panelOption === 'o_req'}">{{outgoingRequests}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- PROFILE BOOKS PANEL -->
        <div class="panel panel-default  top-50" ng-show="panelOption === 'books'">
          <div class="panel-body">
            <h1>My Books</h1>
            <br>
            <ul class="list-group">
              <li class="list-group-item" ng-show="yourBooks-length === 0">No Books added</li>
              <li class="list-group-item nav" ng-repeat="book in yourBooks">
                <div ng-hide="$parent.bookInfo === $index">
                    {{book.title}}
                    <a href="#" class="pull-right" ng-click="$parent.bookInfo = $index"><span class="glyphicon glyphicon-info-sign"></a></span>
                    <br>
                    <span class="text-muted">
                      <span ng-repeat="auth in book.authors">{{auth}}<span ng-show="$index != book.authors.length -1">,</span> </span>
                    </span>
                </div>
                <div ng-show="$parent.bookInfo === $index">
                  <img ng-src="{{book.thumb || '/assets/images/thumb.png'}}" alt="book thumbnail" class="inline align-top"/>
                  <div class="inline book-info">
                    <ul class="list-unstyled">
                      <li><strong>Title: </strong>{{book.title}}</li>
                      <li><strong>Author(s): </strong><span ng-repeat="auth in book.authors">{{auth}}<span ng-show="$index != book.authors.length -1">,</span> </span></li>
                      <li ng-show="book.publisher"><strong>Publisher: </strong>{{book.publisher}}</li>
                      <li><strong>Year: </strong>{{book.year}}</li>
                      <li><strong>Pages: </strong>{{book.pages}}</li>
                      <li ng-show="book.isbn_10"><strong>ISBN-10: </strong>{{book.isbn_10}}</li>
                      <li ng-show="book.isbn_13"><strong>ISBN-13: </strong>{{book.isbn_13}}</li>
                    </ul>
                    <br>
                    <p><strong>Status: </strong><span>{{book.status}}</span></p>
                  </div>
                </div>
                <div class="btn-group pull-right" ng-show="$parent.bookInfo === $index">
                  <div class="btn btn-sm btn-default" title="cancel" ng-click="$parent.bookInfo = undefined"><span class="glyphicon glyphicon-remove"></div>
                  <div class="btn btn-sm btn-default" title="delete" ng-click="$parent.deleteBook(book._id)"><span class="glyphicon glyphicon-trash"></div>
                </div>
              </li>

            </ul>

            <hr>

            <!-- TODO:  VALIDATE,  -->
            <form class="form" name="formBook" ng-submit="bookSearch(isbn)" novalidate>
              <div class="form-group">
                <label>Add a New Book by ISBN</label>

                <input type="text" name="isbn" class="form-control" ng-model="isbn"
                      placeholder="ISBN-10 or ISBN-13, only digits allowed ..." required/>
                <p class="help-block"
                   ng-show="(formData.country.$error.required) && (form.country.$dirty || dataSubmitted)">
                  Country is required.
                </p>
              </div>

              <p class="help-block"> {{ message }} </p>

            </form>

            <div ng-show="newBook" class="panel">
              <div class="panel-heading">
                <strong>Book Info</strong>
              </div>
              <div class="panel-body">
                <img ng-src="{{newBook.thumb || '/assets/images/thumb.png'}}" alt="book thumbnail" class="inline align-top"/>
                <div class="inline book-info">
                  <ul class="list-unstyled">
                    <li><strong>Title: </strong>{{newBook.title}}</li>
                    <li><strong>Author(s): </strong><span ng-repeat="auth in newBook.authors">{{auth}}<span ng-show="$index != newBook.authors.length -1">,</span> </span></li>
                    <li><strong>Publisher: </strong>{{newBook.publisher}}</li>
                    <li><strong>Year: </strong>{{newBook.year}}</li>
                    <li><strong>Pages: </strong>{{newBook.pages}}</li>
                    <li ng-show="newBook.isbn_10"><strong>ISBN-10: </strong>{{newBook.isbn_10}}</li>
                    <li ng-show="newBook.isbn_13"><strong>ISBN-13: </strong>{{newBook.isbn_13}}</li>
                  </ul>
                </div>
              </div>
              <div class="panel-footer nav">
                <div class="btn-group pull-right">
                  <div class="btn btn-sm btn-default" title="cancel" ng-click="newBook = undefined"><span class="glyphicon glyphicon-remove"></div>
                  <div class="btn btn-sm btn-default" title="save book" ng-click="saveNewBook()"><span class="glyphicon glyphicon-send"></div>
                </div>
              </div>

            </div>

          </div><!-- END PANEL BODY-->
        </div><!-- END PROFILE DATA panel panel-default  -->
      </div>
  </div>
